
/*@import url(Reset.css);*/






.serie_main {
   display: flex;
   flex-direction: column;
}




.serie_thead {
   display: flex;
   flex-wrap: wrap;   
   justify-content: space-between;
  
   border-bottom-width: 1px;
   border-bottom-style: solid;
   
   padding-bottom: 20px;     
}

.serie_thead_item {
   color: red;
}
      



.serie_tfoot {
   display: flex;
   flex-wrap: wrap;   
   justify-content: space-between;
  
   border-top-width: 1px;
   border-top-style: solid;
   
   padding-top: 20px;
     
}



.serie_body {
   display: flex;
   flex-direction: column;
}





.serie_line{
   display: flex;
   flex-direction: column;
   
    padding-top: 10px;
    padding-bottom: 10px;   
    
    font-size: smaller; 
 
    
    
    border-bottom: solid 1px lightgray;
}











.serie_blockrow {
   display: flex;
   flex-direction: row ;
    
    justify-content: space-around;
    padding-bottom: 10px;
    
}



.serie_blockcol {
   display: flex;
   flex-direction: column ;
}



.serie_subline {
   display: flex;
   flex-wrap: wrap;      
   
    padding-top: 5px;
    padding-bottom: 5px;      
   
}


.serie_elemento {
   display: flex;
    margin-right: 20px;
}



.serie_elemento_label {   
    margin-right: 20px;
    font-weight: 600;
}


.serie_elemento_valor {   
    margin-right: 20px;
}

.txtder{
    text-align: right;
}