



<article>
    
    
            <form
            class="form"
            action="#"
            name="form_vuelto"
            id="form_vuelto"                    
            >
            


            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-10">
                        <h2>
                            <label for="precio_total">Precio total:</label> 
                        </h2>
                    </div>

                    <div class="bl-10">
                        <h2>
                            <input                                                 
                                type="text"
                                name="precio_total"
                                id="form_vuelto_precio_total"   
                                class="num" 
                                />
                        </h2>
                    </div>
                </div>    
            </div>                    
        


            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-10">
                        <h2>
                            <label for="importe_pagado">Importe pagado:</label> 
                        </h2>
                    </div>

                    <div class="bl-10">
                        <h2>
                            <input                                                 
                                type="text"
                                name="importe_pagado"
                                id="form_vuelto_importe_pagado"   
                                class="num" 
                                />
                        </h2>
                    </div>
                </div>    
            </div>                    
                
                
        

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-10">
                        <h2>
                            <label for="vuelto">Vuelto:</label> 
                        </h2>
                    </div>

                    <div class="bl-10">
                        <h2>
                            <input                                                 
                                type="text"
                                name="vuelto"
                                id="form_vuelto_vuelto"   
                                class="num" 
                                />
                        </h2>
                    </div>
                </div>    
            </div>                    
                
                                
                
                
                          

        </form>

</article>




    
<article id="form_vuelto-acciones"> 
    <div class="botones"> 
        <div class="boton">     
            <a 
                id="btn_venta_aceptar" 
                data-id="0"
                class="botonA" 
                href="javascript:void(0);">     
                Aceptar    
            </a>   
        </div> 
        <div class="boton">     
            <a 
                id="btn_venta_cancelar" 
                data-id="1" 
                class="botonA" 
                href="javascript:void(0);">     
                Cancelar    
            </a>   
        </div>
    </div>
</article>    
    
    

                
