

<div class ="table-responsive-horizontal">
    
        <table class="tableB" id="facturaventadetalle-tabla">
          <thead>
                      
                            
              <tr class = "tguia" >                       
                    
                    <th style="width: 8%;"></th>                  
                    <th style="width: 8%;"></th>                  
                    <th style="width: 8%;"></th>                  
                    <th style="width: 8%;"></th>                  
                    <th style="width: 8%;"></th>                  
                    <th style="width: 8%;"></th>                  
                    <th style="width: 8%;"></th>                  
                    <th style="width: 11%;"></th>                  
                    <th style="width: 11%;"></th>                  
                    <th style="width: 11%;"></th>                  
                    <th style="width: 11%;"></th>                  
                    
                </tr>                             
                

                <tr>                       
                    
                    <th rowspan="2" >cantidad</th>                    
                    <th rowspan="2" colspan="6">descripcion</th>
                    <th rowspan="2">precio unitario</th>
                    <th colspan="3">valor de venta</th>
                </tr>                    


                <tr>
                    
                    
                    <th>exenta</th>
                    <th>5%</th>
                    <th>10%</th>
                </tr>                

          </thead>

          
          <tbody id="facturaventadetalle-tb">

          </tbody>

          
          <tfoot>

                        <tr id="ftr1">     
                            <td colspan="3">Sub Totales</td>
                            <td colspan="5"></td>
                            <td id="f_gravada0" ></td>
                            <td id="f_gravada5" ></td>
                            <td id="f_gravada10" ></td>

                        </tr>                     
                                        
                        <tr id="ftr2">     
                            <td colspan="2">Total a pagar</td>
                            <td colspan="7" id = "f_monto_letras"></td>
                            <td colspan="2" id = "f_monto_total"></td>
                        </tr>                                             
                        
                        <tr id="ftr3">     
                            
                            <td colspan="3">Liquidacion IVA</td>
                            
                            <td></td>
                            <td> (5%)</td>                                                        
                            <td  id = "f_iva5" ></td>
                            <td >(10%)</td>
                            <td  id = "f_iva10"></td>
                            <td>Total IVA</td>
                            <td colspan="2" id = "f_total_iva" ></td>
                            
                        </tr>                                             
                                      
              
              
          </tfoot>
        </table>

    </div>
    
        <hr class="e10"/>

        <div id="facturaventadetalle_paginacion" class="pagination" >                            
        </div>


        <article id="facturaventadetalle_acciones_lista">
            <pre></pre>
        </article>    


        
        